# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter
.ipynb_checkpoints

# IDE
.idea/
.vscode/

# Models and outputs
models/*.pkl
outputs/*.png
outputs/*.csv
